body {
    width: 500px;
    padding-top: 100px;
    margin: 0 auto;
    font:400 15px/1 'Bree Serif';
}

.container, li {
    width: 500px;
    height: 500px;
    display: block;
}
.container {
    position: relative;
    overflow: hidden;
}
.prev { float: left; }
.next { float: right; }

button.disable {
    opacity: .2;
}

ul {
    padding: 0;
}

li {
    -webkit-transition: .3s all ease-out;
       -moz-transition: .3s all ease-out;
        -ms-transition: .3s all ease-out;
         -o-transition: .3s all ease-out;
            transition: .3s all ease-out;

    line-height: 300px;
    color: white;
    text-align: center;
    font:400 30px/500px 'Bree Serif';

    list-style: none;
    position: absolute;
}
li.moving {
    -webkit-transition: none;
       -moz-transition: none;
        -ms-transition: none;
         -o-transition: none;
            transition: none;
}
li:nth-child(1) { background: red; }
li:nth-child(2) { background: blue; }
li:nth-child(3) { background: purple; }
li:nth-child(4) { background: orange; }

li.to-current { -webkit-transform: translate3d(0, 0, 0) }
li.to-prev { -webkit-transform: translate3d(-500px, 0, 0) !important; }
li.to-next { -webkit-transform: translate3d(500px, 0, 0) !important; }

